# Xcode build output
build/
DerivedData/
*.xcarchive
*.ipa

# Xcode user data
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/swiftpm/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
**/.DS_Store
